<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.codepath.timeline"
          xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
      android:name=".util.ParseApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:largeHeap="true"
      android:theme="@style/AppTheme">
    <activity android:name=".activities.LandingActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <!--<activity android:name=".activities.LandingActivity">-->
    <!--</activity>-->
    <activity android:name=".activities.TimelineActivity">
    </activity>
    <activity android:name=".activities.AutoPlayActivity">
    </activity>
    <activity android:name=".activities.AutoPlayInfoActivity">
    </activity>

    <!-- activities and everything are here. meta-data is last inside application tagParse -->
    <!-- TODO: it seems we don't need this -->
    <meta-data
        android:name="com.parse.APPLICATION_ID"
        android:value="timeline-app" />
  </application>

</manifest>
